@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: #1d4ed8;
  --color-secondary: #64748b;
  --color-accent: #fb7324;
  --color-neutral: #f3f4f6;
  --color-neutral-gray: #757575;
  --color-primary-hover: #294ab6;
  --color-secondary-hover: #475b63;
  --color-error: #dc2626;
  --color-success: #129542;
  --background: #0a0c28;
  --foreground: #0e336b;
}
input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-neutral-gray);
  padding: 0.5rem 0.5rem;
  font-size: clamp(0.875rem, 2.5vw, 1.125rem);
  transition: all 0.2s ease-in-out;
  margin-left: 0.5rem;
  font-size: 1rem;
}
input:focus {
  border-bottom-color: var(--color-primary);
  transform: scale(1.02);
}
input::placeholder {
  color: gray;
  font-size: 0.8em;
}
@media (max-width: 480px) {
  input {
    font-size: 0.7rem;
    padding: 0.5rem;
    margin-left: 0;
  }
}
a {
  transition: all 0.2s ease-in-out;
}
.no-hover-link:hover {
  text-decoration: none;
  transform: none;
  cursor: pointer;
  color: white;
}
a:hover {
  color: var(--color-accent);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 1em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-accent);
  transform: scale(1.05);
}

.nav-icons {
  font-size: 10px;
}
.nav-bar {
  background-color: #0c336d;
}
/*  ANIMATIONS*/
